/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/pwm/pwm.h> // 包含 PWM 相关的宏定义
#include <dt-bindings/gpio/gpio.h> // 包含 GPIO 相关的宏定义

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        // 指定 ZMK 使用的背光设备
        zmk,backlight = &my_backlight;
    };


    // --- 1. 定义 GPIO PWM 控制器 ---
    // 节点名 'pwmleds' 是标准名称，便于驱动识别
    // 标签名 pwmleds_ctrl 用于引用
    pwmleds_ctrl: pwmleds { // <-- 标签 pwmleds_ctrl
        compatible = "pwm-gpio"; // 使用 pwm-gpio 驱动
        #pwm-cells = <2>; // 必须：声明此控制器支持的标准 PWM cells 数量

        // --- 关键：直接在此处定义所有使用的 GPIO 引脚 ---
        // 顺序很重要：第一个是通道0，第二个是通道1，以此类推
        gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>, // Channel 0 -> Red   -> P1.10
                <&gpio0 3  GPIO_ACTIVE_HIGH>, // Channel 1 -> Green -> P0.3
                <&gpio0 28 GPIO_ACTIVE_HIGH>; // Channel 2 -> Blue  -> P0.28
    }; // 结束 pwmleds 节点


    // --- 2. 定义具体的 PWM LED (使用 pwm-leds 驱动) ---
    // 这是一个独立的节点，兼容 pwm-leds 驱动
    pwm_leds_device: pwm-leds { // 标签 pwm_leds_device
        compatible = "pwm-leds"; // 标准 PWM LED 驱动

        // 定义一个 RGB LED
        backlight_led: led_0 { // 子节点名 led_0 是标准的，标签 backlight_led
            label = "backlight_led"; // LED 标签
            // --- 关键修改：直接引用 pwmleds 控制器，并指定通道号 ---
            // pwms = <&controller_label channel_number flags>
            // 这里我们组合 RGB 三色在一个 LED 中
            pwms = <&pwmleds_ctrl 0 PWM_POLARITY_INVERTED>, // Red   on channel 0
                   <&pwmleds_ctrl 1 PWM_POLARITY_INVERTED>, // Green on channel 1
                   <&pwmleds_ctrl 2 PWM_POLARITY_INVERTED>; // Blue  on channel 2
            max-brightness = <255>; // 最大亮度值
            color = <255 255 255>; // 白色光 (RGB 255,255,255)
        };
    }; // 结束 pwm-leds 节点


    // --- 3. 定义 ZMK LED 设备 ---
    // 这个节点告诉 ZMK 如何使用上面定义的 LED
    zmk_leds: leds { // 标签 zmk_leds
        compatible = "zmk,leds"; // ZMK LED 驱动

        // 定义名为 my_backlight 的 ZMK 背光设备
        my_backlight: backlight { // 子节点，标签 my_backlight
            label = "my_backlight"; // 设备标签
            leds = <&backlight_led>; // 关联之前定义的 PWM LED (led_0) 的标签
            trigger-binding = <&none>; // 默认触发方式
            // breathe-period-ms = <3000>; // 可选：设置呼吸效果周期
            // blink-duration-ms = <500>;  // 可选：设置闪烁持续时间
        };
    }; // 结束 leds 节点


    // --- 4. 保持原有的矩阵扫描配置不变 ---
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <6>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3)
            RC(5,0) RC(5,1)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&gpio0 29 GPIO_ACTIVE_HIGH>
            , <&gpio0 2 GPIO_ACTIVE_HIGH>
            , <&gpio1 13 GPIO_ACTIVE_HIGH>
            , <&gpio1 11 GPIO_ACTIVE_HIGH>
            ;
        row-gpios
            = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
}; // 结束根节点 /
