#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        // Ctrl+C 复制宏
        macro_copy: behavior_macro_copy {
            compatible = "zmk,behavior-macro";
            label = "MACRO_COPY";
            #binding-cells = <0>;
            bindings = <
                &kp LC(C)
            >;
            wait-ms = <10>; // 小延迟确保组合键正确执行
        };
        
        // Ctrl+V 粘贴宏
        macro_paste: behavior_macro_paste {
            compatible = "zmk,behavior-macro";
            label = "MACRO_PASTE";
            #binding-cells = <0>;
            bindings = <
                &kp LC(V)
            >;
            wait-ms = <10>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
        /*
        ----------------------------------------------
        |     FN     |     COPY     |     PASTE     |    BSPC    |
        |    NUM     |      /       |      *        |     -      |
        |     7      |      8       |      9        |     +      |
        |     4      |      5       |      6        |    TAP     |
        |     1      |      2       |      3        |    ENTER   |
        |     0      |      .       | 
        */
            bindings = <
                &mo 1        &macro_copy    &macro_paste  &kp BSPC
                &kp NUM     &kp KP_SLASH   &kp KP_ASTERISK    &kp KP_MINUS
                &kp KP_N7    &kp KP_N8      &kp KP_N9     &kp KP_PLUS
                &kp KP_N4    &kp KP_N5      &kp KP_N6     &kp TAB
                &kp KP_N1    &kp KP_N2      &kp KP_N3     &kp KP_ENTER
                &kp KP_N0    &kp KP_DOT     &trans        &trans
            >;
        };

        fn_layer {
            bindings = <
                &trans       &trans         &trans        &trans
                &trans       &trans         &trans        &trans
                &trans       &trans         &trans        &trans
                &trans       &trans         &trans        &trans
                &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2  &bootloader
                &bt BT_CLR   &kp DEL        &trans        &trans
            >;
        };
    };
};
